{% extends 'main/layout.html' %}

{% block title %}
  <title>Network vs Atoll</title>
{% endblock title %}

{% block content %}
  <div class="nva-app">
    <div id="nva-main-table" class="nva-table active-table">
    <h1>Network vs Atoll Summary</h1>
    <table class="table table-dark table-bordered">
      <thead>
        <th>Technology</th>
        <th>Inconsistencies count</th>
        <th>Go to details</th>
      </thead>
      <tbody>
        {% for diff in summary %}
          <tr>
            <td>{{ diff.technology }}</td>
            <td>{{ diff.count }}</td>
            <td><button id="{{ diff.technology }}" class="btn btn-primary nva-details">Details</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    {% for details_item in technology_details %}
      <div id="{{ details_item.technology }}-block" class="nva-table hidden-table">
        <button class="btn btn-secondary nva-home">Back to Summary</button>
        <h1>{{ details_item.technology }} Inconsistencies</h1>
        <table class="table table-dark table-bordered">
          <thead>
            {% if details_item.technology == 'GSM' %}
              <th>BSC</th>
            {% elif details_item.technology == 'LTE'%}
              <th>Subnetwork</th>
            {% elif details_item.technology == 'WCDMA'%}
              <th>RNC</th>
            {% endif %}
            <th>Inconsistencies count</th>
            <th>Download</th>
          </thead>
          <tbody>
            {% for item in details_item.summary_by_nodes %}
              <tr>
                <td>{{ item.node }}</td>
                <td>{{ item.count }}</td>
                <td><button id="{{ details_item.technology }}-{{ item.node }}" class="btn btn-primary download-report">Download</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}

  </div>

  <script>
    const detailBtns = document.getElementsByClassName('nva-details');
    for (let btn of detailBtns) {
      btn.addEventListener('click', () => {
        const activeTable = document.getElementsByClassName('active-table')[0];
        activeTable.classList.add('hidden-table');
        activeTable.classList.remove('active-table');

        const hiddenTable = document.getElementById(btn.id + '-block');
        hiddenTable.classList.add('active-table');
        hiddenTable.classList.remove('hidden-table');
      });
    }

    const mainTable = document.getElementById('nva-main-table');
    const nvaHomeBtns = document.getElementsByClassName('nva-home');
    for (let btn of nvaHomeBtns) {
      btn.addEventListener('click', () => {
        const activeTable = document.getElementsByClassName('active-table')[0];
        activeTable.classList.add('hidden-table');
        activeTable.classList.remove('active-table');

        mainTable.classList.add('active-table');
        mainTable.classList.remove('hidden-table');
      });
    }

    const downloadBtns = document.getElementsByClassName('download-report');
    for (let btn of downloadBtns) {
      btn.addEventListener('click', () => {
        btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span>Loading...';
        console.log(btn.id);
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        const [technology, node] = btn.id.split('-');
        formData.append('technology', technology);
        formData.append('node', node);
        fetch('{% url "nva-home" %}', {method: 'POST', body: formData})
          .then(response => response.blob())
          .then(data => {
            const url = window.URL.createObjectURL(data);
              const anchor = document.createElement("a");
              anchor.href = url;
              anchor.download = 'network-vs-atoll.xlsx';
              anchor.click();
              btn.innerHTML = 'Download';
          });
      });
    }
  </script>

{% endblock content %}
