{% extends 'main/layout.html' %}

{% block title %}
  <title>BTS Info</title>
{% endblock title %}

{% block content %}
  <div class="bts-info-app">
    <h1>BTS Info</h1>
    <div id='form'>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div id="input-col" class="col-auto">
          {{ form }}
          <div class="invalid-feedback">
            Please enter only numbers!
          </div>
        </div>
        <div class="col-auto">
          <button id="btn" type="submit" class="btn btn-primary form-control" disabled>Find Site</button>
        </div>
      </div>
    </form>

    {% if messages %}
      {% for message in messages %}
        <div id='message-div' class="alert alert-danger mt-4" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    </div>

    {% if sites %}
      <table class="table table-dark table-bordered table-striped mt-4">
        <thead>
          {% for header in sites.0.keys %}
            <th>{{ header }}</th>
          {% endfor %}
        </thead>
        <tbody>
          {% for site in sites %}
            <tr>
              {% for item_value in site.values %}
                <td>{{ item_value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div id="map" class="mt-4 mb-4"></div>
    {% endif %}

  </div>
  <script>
    const input = document.getElementById('input-field');
    const btn = document.getElementById('btn');

    input.addEventListener('input', () => {
      const inputVal = input.value;

      if (isNaN(inputVal)) {
        input.classList.add('is-invalid');
      } else {
        input.classList.remove('is-invalid');
        if (inputVal.length === 5) {
          btn.disabled = false;
        } else {
          btn.disabled = true;
        }
      }
    });

    btn.addEventListener('click', () => {
      btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span>Loading...';
    });


    // Creating map options
    const mapOptions = {
      center: [{{ latitude }}, {{ longitude }}],
      zoom: 14
    }

    // Creating a map object
    const map = new L.map('map', mapOptions);
    // const marker = L.marker([{{ latitude }}, {{ longitude }}]).addTo(map);

    {% for polygon in sector_polygons %}
      var polygon = L.polygon([
        [{{ polygon.point0.0 }}, {{ polygon.point0.1 }}],
        [{{ polygon.point1.0 }}, {{ polygon.point1.1 }}],
        [{{ polygon.point2.0 }}, {{ polygon.point2.1 }}]
      ], {color: '{{ polygon.color }}'}).addTo(map);
    {% endfor %}


    // Creating a Layer object
    const layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map.addLayer(layer);

  </script>
{% endblock content %}